header {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #496c83;
    padding-bottom: 20px;
}

.header-image {
    width: 100px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
}

h1 {
    color: #4e667e;
    margin-bottom: 5px;
}

h2 {
    color: #496c83;;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-top: 25px;
}

.contact-info {
    font-size: 20px;
    margin-bottom: 15px;
}

a {
    color: #496c83;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    text-align: center;
}

p {
    font-size: large;
}



